# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv
env/
venv/
ENV/

# Output
*.mp4
*.wav
temp_audio.wav
temp_audio_translated.wav

# IDEs
.vscode/
.idea/
